html {
    background-color: gray;
    color: white;
    background: #787672;
}

head {
    font-family: Arial;
}

h1 {
    transition: color 2s;
}

h1:hover {
    color: transparent;
}

.pepe {
    margin: auto;
    display: flex;
}

.button {
    margin: auto;
    display: flex;
}