:root {
    --cinzao: rgb(70, 70, 70);
    --verdepepe: #608c3c;
}

html {
    background-color: gray;
    background: #787672;
    color: white;
    font-family: Arial; /* (Arial > *) */
}

/* "Bem vindo ao troca pepe" || "Teste" */
h1 {
    border-left: 10px solid var(--verdepepe);
    border-radius: 10px;
    padding: 10px;
    background: var(--cinzao);
    transition: color 2s;
}

h1:hover {
    color: transparent;
}

/* pepes */
.pepe {
    margin: auto;
    display: flex;
}

#img_pepe {
    opacity: 1;
    transition: 1s;
}

/* botões */
.button {
    margin: auto;
}

/* div dos botões */
#button_box {
    width: 30%;
    margin: auto;
    display: flex;
    padding: 10px;
    background-color: var(--cinzao);
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    border-left: 10px solid var(--verdepepe);
}